<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotaMoNotaKo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.view_contents.ViewSendNotes"
            android:exported="false" />
        <activity
            android:name=".activities.extra_activities.SendNotesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.extra_activities.CommentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.extra_activities.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.extra_activities.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activities.view_contents.ViewFlashcards"
            android:exported="false" />
        <activity
            android:name=".activities.view_contents.ViewHome"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.extra_activities.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".activities.extra_activities.ForgotPassword_ResetPassword"
            android:exported="false" />
        <activity
            android:name=".activities.extra_activities.ForgotPassword_EmailVerification"
            android:exported="false" />
        <activity
            android:name=".activities.add_contents.AddFlashcards"
            android:exported="false" />
        <activity
            android:name=".activities.add_contents.AddNotes"
            android:exported="false" />
        <activity
            android:name=".activities.view_contents.ViewMynotes"
            android:exported="false" />
        <activity
            android:name=".activities.extra_activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.auth_activity.SignInActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.main_activity.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.auth_activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>